<mat-toolbar class="justify-between">
  <span>ECommerce App 1</span>
  <button
    mat-icon-button
    matBadge="{{ cartItemCount() }}"
    aria-label="cart details"
    routerLink="/cart"
  >
    <!-- [matMenuTriggerFor]="menu" (click)="showCartDetails()" -->
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div class="p-4 divide-y divide-solid">
      <div class="font-bold flex justify-between">
        <span class="mr-16">Items</span>
        <span>Quantity</span>
      </div>
      <div class="flex justify-between">
        <span>ECommerce Appppppppppppppppppppppppp</span>
        <span>1</span>
      </div>
      <div class="flex justify-between">
        <span>ECommerce App</span>
        <span>2</span>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
