@if(product){
<mat-card>
  <mat-card-header>
    <img
      style="height: 326px"
      class="m-auto"
      [src]="product.image"
      alt="product.details"
    />
  </mat-card-header>
  <mat-card-content class="mx-1">
    <div class="text-center">
      <p class="truncate">{{ product.title }}</p>
    </div>
    <div class="flex justify-between">
      <span class="text-red-400">{{ product.price | currency }}</span>
      <button mat-icon-button (click)="onAddToCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
}
